F4786/ch14/ch14-2-3.json
[
    {
        "id": "939afb46.10d7b8",
        "type": "ui_iframe",
        "z": "26372e01171177fa",
        "group": "89952106.631b3",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "url": "http://127.0.0.1:1880/hello",
        "origin": "*",
        "scale": 100,
        "x": 150,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "12ddf97b.5dc0c7",
        "type": "http in",
        "z": "26372e01171177fa",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1940,
        "wires": [
            [
                "ee578dee.fa41e"
            ]
        ]
    },
    {
        "id": "ee578dee.fa41e",
        "type": "template",
        "z": "26372e01171177fa",
        "name": "HTML網頁",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>Hello</title>\n    </head>\n    <body>\n        <h1>我的Hello World!網頁</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 330,
        "y": 1940,
        "wires": [
            [
                "f940420b.9b518"
            ]
        ]
    },
    {
        "id": "f940420b.9b518",
        "type": "http response",
        "z": "26372e01171177fa",
        "name": "",
        "x": 490,
        "y": 1940,
        "wires": []
    },
    {
        "id": "89952106.631b3",
        "type": "ui_group",
        "name": "IFrame",
        "tab": "5967b7da.b44598",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5967b7da.b44598",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]